%tr
  %td= tmdb_form_counter + 1
  %td 
    %img{:src => 'https://image.tmdb.org/t/p/w300' + tmdb_form.poster_path.to_s}
  %td= tmdb_form.title 
  %td= tmdb_form.release_date
  %td
    = form_tag movies_createfromtmdb_path , :method => :post do
      %input{:type=>"hidden",:name=>'tmdb_id', :value=>tmdb_form.id ,}
      = submit_tag 'Add this'