%h1 All Movies

-#= check_box_tag 'for_kids'
-#= label_tag(:for_kids, "For Kids")

%table#movies
  %thead
    %tr
      %th NO.
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
      %th Review
  %tbody

    - @movies.order('title').each_with_index do |movie, index|
      %tr
        %td= index+1
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date.strftime('%d-%b-%Y')
        %td= link_to "More about #{movie.title}", movie_path(movie)
        %td= link_to "Review of #{movie.title}", movie_reviews_path(movie)
 
= link_to 'Add new movie', new_movie_path       

%h1 Search TMDb for a movie

= form_tag movies_search_tmdb_path , :method => :get do
  %label{:for => 'search_terms'} Search Terms
  = text_field_tag "search_terms"
  = submit_tag 'Search TMDb'
