%h2 Update a #{@movie.title} review
 
= form_tag movie_review_path(@movie , @review_user), :method => :put do
  %label How many potatoes:
  = select_tag 'review[potatoes]', options_for_select(1..5)
  = submit_tag 'Update Review'
  = link_to 'Cancel', movie_path(@movie)