%h2 My Reviews of #{@movie.title}

%ul#details
  
  My Review : 
  - if @status == false
    %br
      = link_to 'Create My Review' , new_movie_review_path(@movie) 

  - elsif @status == true
    = @review_user.potatoes
    potatoes
    %br 
    Comment :
    = @review_user.comments
    %br
      = link_to 'Edit My Review' , edit_movie_review_path(@movie , @review_user)
    
= link_to 'All Reviews' , movie_reviews_path(@movie)
%br        
= link_to 'Back to movie details', movie_path(@movie)
%br