%h2 Reviews of #{@movie.title}

%ul#details
  
  My Review : 
  - if @status == false
    = link_to 'Create My Review' , new_movie_review_path(@movie) 
  - elsif @status == true
    = @review_user.potatoes
    %br
      = link_to 'Edit My Review' , edit_movie_review_path(@movie , @review_user)
    
        
  %li
    All Reviews:
    - @review.each do |review|
      %br
        = review.potatoes


%br
= link_to 'Back to movie details', movie_path(@movie)