!!! 5
%html
  %head
    %title RottenPotatoes!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
 
  %body
    = render :partial => 'movies/login_form'
    
    %h1.headerer
      = link_to 'RottenPotatoes', movies_path

  #main
  -# this goes just inside %body:
  - if flash[:notice]
    #notice.message= flash[:notice]
  - elsif flash[:warning]
    #warning.message= flash[:warning]
  = yield
